<div class="container__small-cards">
  <div class="small-cards__pics">
    <img
    src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    alt="imagem default"
    >

  </div>
  <div class="small-cards__texts">
    <div class="small-cards__title-mat">
      <h2>
        Titulo da matéria
      </h2>
    </div>
    <a target="_blank" href="#" class="small-cards__chamada-mat">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>

    </a>
  </div>
</div>
<hr color="grey" size="1">
