.container__app-component {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 5px 10px 5px;
}
